<div class="contenedor">
    <div class="galeria">
        <div class="imagen" *ngFor=" let listado of tienda">
            <img src="{{listado.imagen}}" alt="{{listado.Id}}" >
        </div>
    </div>
</div>
<div class="texto">
    <h1>Mi Tienda</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque necessitatibus amet inventore? Ipsa ad, qui dolore voluptates iusto animi quasi autem mollitia aspernatur consequatur aliquid soluta dignissimos voluptatibus commodi sequi!</p>
</div>