
<div class="cuerpo">
    <div class="perfil">
        <img src="{{avatar}}" alt="avatar">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, non. Atque temporibus expedita animi repellat vel velit consequuntur blanditiis quis pariatur! Quia accusamus autem, consequatur ea id iure illo sunt?</p>
    </div>
    <!-- <div *ngFor="let alumno of alumnos">
        <h2>{{ alumno.nombre }}</h2>
        <p>{{ alumno.apellido }}</p>
        <p>{{ alumno.edad }}</p>
        <p>{{ alumno.email }}</p>
        <p>{{ alumno.telefono }}</p>
        <img [src]="alumno.foto" alt="Foto de {{ alumno.nombre }}">
      </div> -->
</div>
