<div class="container mt5">
  <div class="row">
      <div class="w80">
          <div class="card">
              <div class="card-body">
                  <span class="titulo">LISTADO DE USUARIOS</span>
                  <button class="btn btn-success float-end" routerLink="/crearUsuario">NUEVO</button>
                  <table *ngIf="listUsuario.length > 0" class="table">
                      <thead>
                        <tr>
                          <th scope="col">nombre</th>
                          <th scope="col">apellidos</th>
                          <th scope="col">email</th>
                          <th scope="col">password</th>
                          <th scope="col">password</th>
                          <th scope="col">direccion</th>
                          <th scope="col">direccion2</th>
                          <th scope="col">telefono</th>
                          <th scope="col">ciudad</th>
                          <th scope="col">pais</th>
                          <th scope="col">cpostal</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let usuario of listUsuario">
                          <th scope="row">{{usuario.nombre}}</th>
                          <td>{{usuario.apellidos}}</td>
                          <td>{{usuario.email}}</td>
                          <td>{{usuario.password}}</td>
                          <td>{{usuario.direccion}}</td>
                          <td>{{usuario.direccion2}}</td>
                          <td>{{usuario.telefono}}</td>
                          <td>{{usuario.ciudad}}</td>
                          <td>{{usuario.pais}}</td>
                          <td>{{usuario.cpostal}}</td>
                          <td><i [routerLink]="['/crearUsuario', usuario._id]"class="fa-solid fa-pen-to-square text-primary"></i></td>
                          <td><i (click)="eliminarRegistro(usuario._id)"class="fa-solid fa-trash text-danger"></i></td>
                          <td><mat-icon routerLink="/alumno">open_in_new</mat-icon></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
          </div>
      </div>
  </div>
</div>
