<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Contacto</title>
</head>
<body>
    <header>
        <div><img src="{{imagen}}" alt="logo"></div>
        <ul>
            <li>Cursos</li>
            <li>Profesores</li>
            <li>Alumnos</li>
            <li>Contacto</li>
            <li>Acceso</li>
        </ul>
    </header>
    <div>
        <form>
        <input type="text" name="usuario" placeholder="Introduce un nombre de contacto"/>
        <input type="email" name="email" placeholder="Introduce un correo electrónico de contacto"/>
        <input type="text" name="asunto" placeholder="Introduce el motivo de la consulta"/>
        <textarea name="consulta" cols="30" rows="10" placeholder="Introduce brevemente tu consulta"></textarea>
        <button>Enviar</button>
        </form>
    </div>
    <footer>
        <ul>
            <li>Terminos y condiciones</li>
            <li>Politica de privacidad de cookies</li>
        </ul>
        <div><img src="{{imagen}}" alt="logo"></div>
    </footer>
</body>
</html>
