<!-- Esta sección define la cabecera de la aplicación -->
<div class="header">
    <!-- Se incluye el componente 'app-header' que se encargará de mostrar la cabecera de la aplicación. -->
    <app-header></app-header>
</div>

<!-- Esta sección representa el cuerpo principal de la página -->
<div class="body">
    <!-- La etiqueta 'router-outlet' se asocia con Angular Routing y permite cargar dinámicamente contenido según la ruta actual. -->
    <router-outlet></router-outlet>
</div>

<!-- Esta sección representa el pie de página de la aplicación -->
<div class="footer">
    <!-- Se incluye el componente 'app-footer' que mostrará el contenido del pie de página. -->
    <app-footer></app-footer>
</div>