<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Acceso</title>
</head>
<body>
    <header>
        <div><img src="{{imagen}}" alt="logo"></div>
        <ul>
            <li>Cursos</li>
            <li>Profesores</li>
            <li>Alumnos</li>
            <li>Contacto</li>
            <li>Acceso</li>
        </ul>
    </header>
    <div class="login">
        <form>
        <input type="text" name="usuario" placeholder="Introduce el usuario"/>
        <input type="password" name="password" placeholder="Introduce la contraseña"/>
        <button>Acceder</button>
        </form>
    </div>
    <footer>
        <ul>
            <li>Terminos y condiciones</li>
            <li>Politica de privacidad de cookies</li>
        </ul>
        <div><img src="{{imagen}}" alt="logo"></div>
    </footer>
</body>
</html>
