
<div class="registro">
    <form>

        <input type="text" name="nombre" placeholder="Introduce el nombre"/>

        <input type="text" name="apellidos" placeholder="Introduce los apellidos"/>

        <input type="email" name="email" placeholder="Introduce el correo electronico"/>

        <input type="password" name="password" placeholder="Introduce una contraseña"/>

        <input type="password" name="password2" placeholder="Repite la contraseña"/>

        <input type="number" name="edad" placeholder="Introduce la edad"/>

        <input type="url" name="fotografia" placeholder="Introduce una url de una fotografia"/>

        <button>Registrar</button>

    </form>
</div>