:root{
    --color1: #cdeae8;
    --color2: #0d3f7c; 
    --color3: #00214a;
    --color4: #04bbec;
    --color5: #ea25b5;
    --color6: #ff82f4;
}

body{
    display: grid;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--color1);
    grid-row: 1/2;
    grid-column: 1/5;

}

 header img{
    height: 15vh;
    width: 15vw;
 }

ul{
    display: flex;
    padding-top: 5vh;
    text-align: center;
    margin-right: 5vw;
}

button{
    padding: 1vh;
    background: var(--color4);
    border-radius: 10%;
    list-style: none;
    margin-left: 20px;
}

.perfil{
    grid-column: 1/2;
    grid-row: 2/4;
    background: var(--color2);
    text-align: center;
    padding-top: 2vh;
    width: 30vw;
    padding-bottom: 8vh;
    color: var(--color1);
    
}

.cursos{
    grid-column: 1/2;
    grid-row: 4/6;
    padding-top: 2vh;
    padding-bottom: 8vh;
    width: 30vw;
    background-color: var(--color3);
    text-align: center;
    color: var(--color1);
}

.cursos img{
    width: 25vh;
}

.cuerpo{
    grid-column: 2/5;
    grid-row: 2/6;
    background-image: url(media/imagen-fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: var(--color3);
    padding-top: 8vh;
    width: 70vw;
}
.cuerpo form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5vw;
}
.cuerpo input{
    margin-top: 10px;
    width: 40vw;
    margin-bottom: 10px;
}

.cuerpo video{
    width: 60vw;
}

.legal{
    grid-column: 2/5;
    grid-row: 5/6;
    background-color: var(--color4);
}

footer{
    grid-row: 6/7;
    grid-column: 1/5;
    background-color: var(--color1);
    padding-left: 15vw;
}