
<div class="temporal">
    <div>
        <img src="{{avatar}}" alt="avatar">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, non. Atque temporibus expedita animi repellat vel velit consequuntur blanditiis quis pariatur! Quia accusamus autem, consequatur ea id iure illo sunt?</p>
    </div>
    <!-- <div *ngFor="let alumno of alumnos">
        <h2>{{ alumno.nombreA }}</h2>
        <p>{{ alumno.apellidosA }}</p>
        <p>{{ alumno.edadA }}</p>
        <p>{{ alumno.correoA }}</p>
        <p>{{ alumno.telefonoA }}</p>
        <img [src]="{{fotoA}}" alt="Foto de {{ alumno.nombre }}">
      </div> -->
</div>
