:root{
    --color1 : #cdeae8;
    --color2 : #0d3f7c;
    --color3 : #00214a;
    --color4 : #04bbec;
    --color5 : #ea25b5;
    --color6 : #ff82f4;
}
body{
    background-color: var(--color2);
}
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--color4);
}
header img {
    width: 8em;
    height: 8em;
    margin: 3em;
}
header ul{
    display: flex;
    margin: 3em;
}
header ul li{
    margin-left: 20px;
    text-decoration: none;
}
.cuerpo{
    display: flex;
    color: var(--color1);
}
.perfil {
    display: flex;
    flex-direction: column;
    width: 30%;
}
aside{
    width: 30%;
}
.alumnos{
    display: flex;
    justify-content: center;
}
.alumnos div{
    border: 1px solid black;
    background-color: var(--color6);
    width: 40px;
    height: 40px;
    margin: 3px;
}
.login{
    display: flex;
    justify-content: center;
    align-items: end;
}
.login form{
    display: flex;
    flex-direction: column;
}
.login form input{
    margin-top: 10px;
}
.perfil img{
    width: 10em;
    height: 10em;
}
.cursoalumno{
    width: 70%;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--color4);
}
footer img {
    width: 8em;
    height: 8em;
    margin: 3em;
}
footer ul{
    margin: 3em;
}
button{
    margin-top: 10px;
}