  <!DOCTYPE html>
  <html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
  <app-cabecera></app-cabecera> 
  <app-alumno></app-alumno>
  <app-alumnos></app-alumnos>
  <app-curso></app-curso> 
  <app-cursos></app-cursos> 
  <app-profesor></app-profesor>
  <app-profesores></app-profesores>
  <app-acceso></app-acceso>
  <app-registro></app-registro>
  <app-consulta></app-consulta>
  <app-footer></app-footer>
  </body>
  </html>
  