<div class="container mt-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{ titulo | uppercase }}</span>
                    <form class="mb-3" [formGroup]="registroForm" (ngSubmit)="agregarUsuario()">

                        <!-- Nombre -->
<!-- 
                        <div class="mb-3">
                            <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre">
                        </div> -->

                        <!-- apellidos -->

                        <!-- <div class="mb-3">
                            <input type="text" formControlName="apellidos" class="form-control" placeholder="apellidos">
                        </div> -->

                        <!-- Fnacimiento -->

                        <!-- <div class="mb-3">
                            <input type="text" formControlName="Fnacimiento" class="form-control" placeholder="Fecha de naciemento">
                        </div> -->

                        <!-- email -->

                        <!-- <div class="mb-3">
                            <input type="email" formControlName="email" class="form-control" placeholder="correo electrónico">
                        </div> -->

                        <!-- telefono -->

                        <!-- <div class="mb-3">
                            <input type="number" formControlName="telefono" class="form-control" placeholder="telefono">
                        </div> -->

                        <!-- pass -->

                        <!-- <div class="mb-3">
                            <input type="password" formControlName="pass" class="form-control" placeholder="contraseña">
                        </div> -->

                        <!-- tipo -->

                        <!-- <div class="mb-3">
                            <input type="text" formControlName="tipo" class="form-control" placeholder="tipo">
                        </div> -->


                        <!-- Explorador de archivo -->

                        <div class="wrapper">
                            <div class="position-relative">
                                <h3>Subir imagen</h3>
                                <input class="input-file" (change)="capturarFile($event)" type="file">
                                  
                                <div class="wrapper-button" >
                                    <button type="button" class="button" [disabled]="loading" (click)="subirArchivo()">
                                        {{(loading) ? 'Cargando.....' : 'Subir Archivo'}}
                                    </button>
                                </div>
                          
                            </div>
                           
                          </div>
                          

                        <!-- Botonera -->

                        <div class="mb-3">
                            <button class="btn btn-secondary float-start" routerLink="/">VOLVER</button>
                            <button type="submit" class="btn btn-success float-end">ACEPTAR</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
