body {
    display: grid;
    text-align: center;
    justify-content: center;    
    background-color: aliceblue;
}
input {
    text-align: center;
}
.uno{
    padding-left: 20px;
    padding-right: 20px;
    grid-column: 1/3;
    border: 1px solid black;
}
.dos{
    padding-left: 20px;
    padding-right: 20px;
    grid-column: 3/5;
    border: 1px solid black;
}
.tres{
    padding-left: 20px;
    padding-right: 20px;
    grid-column: 5/7;
    border: 1px solid black;
}
header{
    grid-column: 1/7;
}
div{
    background-color: rgb(137, 129, 171);
    border-radius: 10%;
}