:root{
    --cabecera: #ffffff;
    --letraCabecera:#1a0765;
    --fondo:#6977b3;
    --detalle: #650707;
    --letra: #b7fc95;
}
.servicios{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.servicio{
    padding: 1em;
    width: 20em;
    height: 35em;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--detalle);
    border-radius: 10% 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 5px 10px 20px 1px var(--letraCabecera);
    background-color: var(--detalle);
    color: var(--cabecera);
   
}
.servicio img{
    width: 50%;
    border-radius: 10%;
}
.servicio button{
    background-color: var(--letraCabecera);
    color:var(--cabecera);
    font-weight: 600;
    border: none;
    height: 3em;
    width: 8em;
    border-radius: 1em;
}

.servicio button:hover{
    background-color: var(--fondo);
    color:var(--letra);
}

.avisos{
    color: var(--letraCabecera);
    font-size: 30px;
    text-align: center;
}