<div class="container mt-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{ titulo | uppercase }}</span>
                    <form class="mb-3" [formGroup]="usuarioForm" (ngSubmit)="agregarUsuario()">
                        <div class="mb-3">

                            <!-- Nombre -->

                            <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre">
                            <div class="text-danger" *ngIf="usuarioForm.get('nombre')?.hasError('required') && usuarioForm.get('nombre')?.touched">
                                <span>El nombre es obligatorio</span>
                            </div>
                        </div>
                        <div class="mb-3">

                            <!-- Apellidos -->

                            <input type="text" formControlName="apellidos" class="form-control" placeholder="Apellidos">
                            <div class="text-danger" *ngIf="usuarioForm.get('apellidos')?.hasError('required') && usuarioForm.get('apellidos')?.touched">
                                <span>Los apellidos son obligatorios</span>
                            </div>
                        </div>

                        <!-- Fnacimiento -->

                        <div class="mb-3">
                            <input type="text" formControlName="Fnacimiento" class="form-control" placeholder="Fnacimiento">
                            <div class="text-danger" *ngIf="usuarioForm.get('Fnacimiento')?.hasError('required') && usuarioForm.get('Fnacimiento')?.touched">
                                <span>La fecha de nacimiento es obligatoria</span>
                            </div>
                        </div>

                        <!-- email -->

                        <div class="mb-3">
                            <input type="email" formControlName="email" class="form-control" placeholder="Introduce email">
                            <div class="text-danger" *ngIf="usuarioForm.get('email')?.hasError('required') && usuarioForm.get('email')?.touched">
                                <span>El correo es obligatorio</span>
                            </div>
                        </div>

                        <!-- telefono -->

                        <div class="mb-3">
                            <input type="tel" formControlName="telefono" class="form-control" placeholder="Introduce tu telefono">
                            <div class="text-danger" *ngIf="usuarioForm.get('telefono')?.hasError('required') && usuarioForm.get('telefono')?.touched">
                                <span>La dirección es obligatoria</span>
                            </div>
                        </div>

                        <!-- foto -->

                        <div class="mb-3">
                            <input type="text" formControlName="foto" class="form-control" placeholder="Introduce una foto">
                            <div class="text-danger" *ngIf="usuarioForm.get('foto')?.hasError('required') && usuarioForm.get('foto')?.touched">
                                <span>La foto es obligatoria</span>
                            </div>
                        </div>

                        <!-- pass -->

                        <div class="mb-3">
                            <input type="password" formControlName="pass" class="form-control" placeholder="Introduce un pass">
                            <div class="text-danger" *ngIf="usuarioForm.get('pass')?.hasError('required') && usuarioForm.get('pass')?.touched">
                                <span>La constraseña es obligatoria</span>
                            </div>
                        </div>

                        <!-- tipo -->

                        <div class="mb-3">
                            <input type="text" formControlName="tipo" class="form-control" placeholder="Introduce el tipo">
                            <div class="text-danger" *ngIf="usuarioForm.get('tipo')?.hasError('required') && usuarioForm.get('tipo')?.touched">
                                <span>El tipo es obligatorio</span>
                            </div>
                        </div>

                        <!-- Enviar -->

                        <div class="mb-3">
                            <button class="btn btn-secondary float-start" routerLink="/">VOLVER</button>
                            <button type="submit" [disabled]="usuarioForm.invalid" class="btn btn-success float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
