<mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Asunto</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Correo</mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Selectiona el tema</mat-label>
    <mat-select>
      <mat-option value="one">tu fallo</mat-option>
      <mat-option value="two">nuestro fallo</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Describe brevemente el tema de contacto</mat-label>
    <textarea matInput></textarea>
</mat-form-field>
  
