<div class="temporal">
    <div >
        <img src="{{avatar}}" alt="avatar">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, non. Atque temporibus expedita animi repellat vel velit consequuntur blanditiis quis pariatur! Quia accusamus autem, consequatur ea id iure illo sunt?</p>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat minima, modi, reiciendis obcaecati veniam eaque in, praesentium quidem dignissimos autem ipsa? Porro sed eligendi quasi sapiente consequatur minima pariatur nostrum.</p>
    </div>
</div>
